<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
  </head>
  <body>
    <div class="navbar bg-base-100 max-w-7xl mx-auto">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
              />
            </svg>
          </div>
          <ul
            tabindex="-1"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow font-semibold text-gray-500"
          >
            <li><a onclick="loadPage('home')">Home</a></li>
            <li><a onclick="loadPage('products')">Products</a></li>
            <li><a onclick="loadPage('about')">About</a></li>
            <li><a onclick="loadPage('contact')">Contact</a></li>
          </ul>
        </div>
        <a class="btn btn-ghost text-2xl text-indigo-600 font-bold"
          >SwiftCart</a
        >
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 font-semibold text-gray-500">
          <li><a onclick="loadPage('home')">Home</a></li>
          <li><a onclick="loadPage('products')">Products</a></li>
          <li><a onclick="loadPage('about')">About</a></li>
          <li><a onclick="loadPage('contact')">Contact</a></li>
        </ul>
      </div>
      <div class="navbar-end cursor-pointer">
        <i class="fa-solid fa-cart-shopping text-2xl text-indigo-600"></i>
      </div>
    </div>
  </body>
</html>
